.playground-title {
  padding: 10px;
}

.playground-title img {
  height: inherit;
  max-width: 80px;
  max-height: 80px;
}

.run-button {
  padding: 25px;
}

.ground {
  padding: 25px;
}

.commands {
  padding: 10px;
}

.commands button{
  max-width: 50px;
}

.not_mowed {
  background-color: #6be09e;
  background-image: url(/assets/images/grass.png);
}

.mowed {
  background-color: #9ccebc;
}
